@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Coffee Shop!</h1>
    <p>Why don't you <a asp-controller="Home" asp-action="RegisterUser">register</a> for awesome perks?</p>
</div>
